.main-anime {
  background-image: url(../images/totoro.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  .mainTitle {
    color: rgb(248, 172, 185);
    padding: 15px 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    font-size: 50px;
  }

  .mainDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.favourite {
  color: #48aef0;
  background-color: rgb(248, 172, 185);
  border-radius: 1000px;
  opacity: 0.6;
}

.searchresults {
  &__favourites {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    margin: 10px 15px;
    color: rgb(248, 172, 185);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
  }

  .results {
    width: 500px;
    height: 500px;
    color: rgb(248, 172, 185);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 1.2rem 1rem 1rem;
    border &.favourite {
      color: #48aef0;
    }
  }
}

.button__input {
  margin: 20px 10px 20px 20px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: solid rgb(248, 172, 185);
  padding-left: 15px;
}
.button__search,
.button__reset,
.deleteOneBtn {
  border: solid rgb(248, 172, 185);
  margin-left: 10px;
  border-radius: 10px;
  height: 30px;
  width: 60px;
  color: #48aef0;
  font-weight: bold;
  background-color: lightblue;
  transition: color ease 0.8s;
  &:hover {
    background-color: white;
  }
}
.titleFavourites,
.titleResults {
  text-decoration: underline;
}
